{% extends "base.html" %} {% block title %}Register{% endblock %}
{%block content%}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome to SFlix</title>
    <link rel="stylesheet" href="../static/formstyles/style.css">
</head>

<body>
    <div class="signInContainer">
        <div class="column">
            <div class="header">
                <a href="/"><img src="../static/images/Logo.png" title="logo" alt="Site Logo"/></a>
                <h3>Sign Up</h3>
                <span>to continue to SFlix</span>
                
            </div>
            <form method="POST">
            
                
                <input type="text" name="first_name" id="first_name" placeholder="First name" value=""required>
                
                <input type="text" name="last_name"id="last_name"placeholder="Last name" required>
                
                <input type="text" name="username" id="username" placeholder="Username" required>

                <input type="email" name="email" id="email" placeholder="E-mail" required>
                <input type="email" name="email2" id="email2"placeholder="Confirm E-mail"required>
                
                <input type="password" name="password" id="password"placeholder="Password"required>
                <input type="password" name="password2" id="password2" placeholder="Confirm Password"required>
                <input type="submit" name="submitButton" value="SUBMIT">
            </form>
            <a href="/login" class="signInMessage">Already have an account ? Sign In here !</a>
        </div>
    </div>
</body>

</html>
{%endblock%}